<div class="col">
    <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>TO</button>
            <button ngbDropdownItem>SLO</button>
            <button ngbDropdownItem>Application ID</button>
            <button ngbDropdownItem>Ask ID</button>
        </div>
    </div>
</div>

<br>

<div class="btn-group dropright">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" >
        Dropright
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
    </div>
</div>

<br>
<br>

<div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Dropdown button
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Link 1</a>
        <a class="dropdown-item" href="#">Link 2</a>

        <a class="dropdown dropdown-toggle" href="#" data-toggle="dropdown">Menu</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/">dropdown item 1</a>
        </div>
        <a class="dropdown-item" href="#">Link 3</a>
    </div>
</div>



