<!-- <div class="container" style="padding-top:20px;">
  <form [formGroup]="lobselection" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <p style="padding-right:20px;">Select LOB</p>
      <select formControlName="lob" class="form-control col-md-5">
        <option value="cs">CS</option>
        <option value="er">ER</option>
        <option value="mr">MR</option>
      </select>
      <div class="col-md-1">
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </div>

  </form>
</div> -->
<!-- <button class="random" routerLink="">Main</button>
<button class="random" routerLink="home">Home</button>
<button class="random" routerLink="register">Register</button>
<button class="random" routerLink="details">Details</button>
<button class="random" routerLink="inputbox">Input Box</button>
<button class="random" routerLink="list">List-Employee</button>
<button class="random" routerLink="create">Create-Employee</button>

<router-outlet></router-outlet> -->



<div class="container">
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="">Main</a>
      </li>
      <li>
        <a routerLink="home">Home</a>
      </li>
      <li>
        <a routerLink="register">Register</a>
      </li>
      <li>
        <a routerLink="details">Details</a>
      </li>
      <li>
        <a routerLink="list">List</a>
      </li>
      <li>
        <a routerLink="create">Create</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>