.container{
    margin-top:10px;
}

#tableid {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top:20px;
  }
  
  #tableid td, #tableid th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #tableid tr:nth-child(even){background-color: #f2f2f2;}
  
  #tableid tr:hover {background-color: #ddd;}
  
  #tableid th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }